body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.cover {
  background-image: url(https://images.unsplash.com/photo-1589182373726-e4f658ab50f0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8Mnx8fGVufDB8fHx8&w=1000&q=80);
  background-size: cover;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: baseline;
  gap: 20px
}